.catalog {
  display: grid;
  grid-template-columns: $card-width;
  gap: $card-gap;
  justify-content: center;

  @each $column, $width in $media-queries {
    @media (min-width: $width) {
      & {
        grid-template-columns: repeat($column, $card-width);
      }
    }
  }
  
  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
